.s1{
    margin-top: 100px;
    display: flex;
    overflow: visible;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    & .main{
        font-weight: 700;
        font-size: 80px;
        overflow: visible;
    }
    & .sub{
        font-weight: 300;
        font-size: 20px;
        color: darkgray;
        overflow: visible;
    }
}

.s2{
    transform: translateY(-100px);
    width: 1080px;
    height: 970px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    overflow: hidden;
    flex-wrap: nowrap;
    margin: 0;
    padding: 0;
}

.furniturecontainer{
    z-index: 2;
    display: flex;
    overflow: hidden;
    flex-direction: column-reverse;
    align-items: center;
    
    animation: rotating_container 4s linear infinite;
    transform-origin: 50% 800px;
    & img{
        z-index: 1;
        animation: rotating_furniture 4s linear infinite;
    }
    & p{
        z-index: 0;
        overflow: hidden;
        font-weight: 700;
        font-size: 120px;
        color: lightgray;
        text-align: center;
        animation: rotating_text 4s linear infinite;
    }
}

@keyframes rotating_container{
    100%{ transform: rotate(35deg); animation-timing-function: ease-out; opacity: 0%; }
    
    97%{ opacity: 0%; }
    
    88%{ transform: rotate(1deg); opacity: 100%; }
    
    10%{ transform: rotate(-1deg); opacity: 100%; animation-timing-function: ease-out; }
    
    5%{opacity: 0%;}

    0%{ transform: rotate(-35deg); opacity: 0%; }
}

@keyframes rotating_text{
    100%{ transform: translateY(-100px) rotate(-35deg); animation-timing-function: ease-out; }
    
    88%{ transform: translateY(-100px) rotate(-1deg); }
    
    10%{ transform: translateY(-100px) rotate(1deg); animation-timing-function: ease-out; }
    
    0%{ transform: translateY(-100px) rotate(35deg); }
}

@keyframes rotating_furniture{
    100%{ transform: translateY(100px) rotate(50deg); animation-timing-function: ease-out; }
    88%{ transform: translateY(100px) rotate(10deg); }
    10% { transform: translateY(100px) rotate(-10deg); animation-timing-function: ease-out; }
    0% { transform: translateY(100px) rotate(-30deg); }
}

.circlecontainer{
    z-index: 0;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
    transform: translateY(1px);
    & .mini{
        z-index: 1;
        width: 16px;
        height: 16px;
        background-color: black;
        border-radius: 50%;
        animation: rotating_point 4s linear infinite;
        transform-origin: 50% 460px;
    }
    & .large{
        z-index: 0;
        width: 900px;
        height: 450px;
        border: 1px solid transparent;
        border-top-left-radius: 450px;
        border-top-right-radius: 450px;
        background-image: linear-gradient(white, white), linear-gradient(to top, transparent 50% , black 100%);
        background-origin: border-box;
        background-clip: content-box, border-box;
    }
}

@keyframes rotating_point{
    100%{ transform: translateY(9px) rotate(70deg); animation-timing-function: ease-out; opacity: 0% }
    97%{ opacity: 0% }
    88%{ transform: translateY(9px) rotate(3deg); opacity: 100% }
    10% { transform: translateY(9px) rotate(-3deg); animation-timing-function: ease-out; opacity: 100% }
    5%{ opacity: 0% }
    0% { transform: translateY(9px) rotate(-70deg); opacity: 0% }
}